.wrapper {
  min-height: 100vh;
  background-image: url('../../img/backgound_home.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: grey;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  font-style: italic;
}

/* user ??? */
.user {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  text-shadow: 0px 0px 10px rgb(12, 187, 240);
}
